pandas==1.1.5
numpy==1.19.5
matplotlib==2.2.2
seaborn==0.11.1
pickle==4.0
torch==1.8.0
scikit-learn==0.24.0
tensorflow==2.4.0
fastapi==0.63.0
typing==3.6.4
uvicorn==0.13.4
nest_asyncio
flask
requests

